{
    "eslintIntegration": true,
    "stylelintIntegration": true,
    "tabWidth": 4,
    "singleQuote": true,
    "semi": true,
    "printWidth": 120,
    "arrowParens": "avoid",
    "bracketSameLine": true,
    "overrides": [
        {
            "files": "*.json",
            "options": {
                "tabWidth": 2
            }
        },
        {
            "files": "*.html",
            "options": {
                "tabWidth": 2
            }
        },
        {
            "files": ".prettierrc",
            "options": {
                "parser": "json"
            }
        }
    ]
}
