<thy-content>
  <h4>This is app2's dashboard</h4>

  <section-card class="mt-3" title="Links to about">
    <div><a href="javascript:;" (click)="toAbout()">About</a></div>
    <a><a href="javascript:;" [routerLink]="['/about']">About use routerLink</a></a>
  </section-card>

  <section-card class="mt-3" title="Sandbox enabled">
    <div>
      主应用 Lodash 版本： <span thyLabel="primary">{{ portalLodashVersion }}</span>
    </div>
    <div class="mt-2">
      当前应用 Lodash 版本： <span thyLabel="warning">{{ app2LodashVersion }}</span>
    </div>
  </section-card>

  <!-- <section-card class="mt-4" title="Open app1's user detail">
    <button thyButton="outline-primary-square" (click)="openApp1UserDetail()">Open user detail (id: 1)</button>
  </section-card> -->
</thy-content>
