@import '@docgeni/template/styles/index.scss';

.dg-home .dg-hero .dg-hero-launch {
    align-items: start;
    padding-left: 20%;
    text-align: unset;
}

.dg-doc-content {
    ul,
    ol {
        font-size: 1rem;
    }
}
