<h3>This is dashboard</h3>

<div class="app1-dashboard">
    <h5 class="red">count: {{ counter.count }}</h5>
    <div class="btn-pair">
        <button thyButton="primary-square" (click)="counter.increase()">Increase</button>
        <button thyButton="outline-primary-square" (click)="counter.decrease()">Decrease</button>
        <button thyButton="primary-square" (click)="openADetail()">Open a Detail</button>
    </div>
</div>

<div class="mt-2">
    <a href="javascript:;" (click)="toHostAbout()">To Host About</a>
</div>
