<thy-content>
  <input
    thyInput
    class="mt-2 mb-2"
    [(ngModel)]="search"
    placeholder="搜索项目"
    [style.width.px]="300"
    (thyEnter)="getProjects()"
  />
  <thy-table
    thyClassName="table-hover"
    [thyModel]="projects"
    [thyLoadingDone]="loadingDone"
    (thyOnRowClick)="openDetail($event)"
    thyTheme="bordered"
    thyRowKey="id"
  >
    <thy-table-column thyTitle="名称" thyModelKey="name" thyClassName="same-name"></thy-table-column>
    <thy-table-column thyTitle="描述" thyModelKey="desc"></thy-table-column>
    <thy-table-column thyTitle="操作" thyClassName="thy-operation-links text-center">
      <ng-template #cell let-row>
        <a href="javascript:;">设置</a>
        <a class="link-secondary" href="javascript:;">
          <i class="wtf wtf-trash-o"></i>
        </a>
      </ng-template>
    </thy-table-column>
  </thy-table>
</thy-content>
