version: 2.1
jobs:
    build:
        working_directory: ~/ngx-planet
        docker:
            - image: cimg/node:18.16-browsers
        steps:
            - checkout
            - restore_cache:
                  key: ngx-planet-{{ .Branch }}-{{ checksum "package-lock.json" }}
            - run: npm install --force
            - save_cache:
                  key: ngx-planet-{{ .Branch }}-{{ checksum "package-lock.json" }}
                  paths:
                      - 'node_modules'
            - run: npm run lint
            - run: npm run test -- --no-watch --no-progress --browsers=ChromeHeadlessCI
            - run: npm run report-coverage
