@use 'ngx-tethys/styles/variables.scss' with (
    $layout-content-background: #fff,
);
@use 'ngx-tethys/styles/index.scss';
// @import 'ngx-tethys/styles/modules/reboot.scss';
// @import 'ngx-tethys/styles/modules/cdk/index';
// @import 'ngx-tethys/layout/styles/layout.scss';

.portal-test {
    color: #aaa;
}
body,
html {
    height: 100%;
}
