$app-nav-width: 70px;
$app-nav-bg-color: #48525c;

.portal-container {
    display: contents;
    height: 100%ß;
}
.app-nav {
    width: $app-nav-width;
    background: $app-nav-bg-color;
    height: 100%;

    .logo {
        height: 50px;
        margin-top: 15px;
    }

    &.thy-layout-sidebar {
        border-right: none;
    }

    .nav-link {
        opacity: 0.8;
        min-width: $app-nav-width;
        color: $white;
        height: $app-nav-width;
        text-align: center;
        display: flex;
        align-items: center;
        .thy-icon {
            color: $white;
            font-size: $font-size-xlg;
        }
        &.active,
        &:hover {
            background: rgb(57, 65, 76);
            color: $white;
            .thy-icon {
                color: $white;
            }
        }
    }

    // .thy-nav--vertical {
    //     .nav-link {
    //         border-left-width: 0px;
    //     }
    // }
}

.same-name {
    color: blue;
    font-size: 12px;
}

.portal-special {
    font-size: 20px;
}
