<thy-layout>
  <thy-sidebar class="app-nav">
    <img class="logo" src="/assets/images/logo.svg" />
    <thy-nav [thyVertical]="'true'" class="mt-2" [thyType]="'primary'">
      <a thyNavLink [routerLink]="['/app1']" routerLinkActive="active">App1</a>
      <a thyNavLink [routerLink]="['/app2']" routerLinkActive="active">App2</a>
      <a thyNavLink [routerLink]="['/about']" routerLinkActive="active">About</a>
      <!-- <a thyNavLink [routerLink]="['/help']" routerLinkActive="active">Help</a> -->
    </thy-nav>
  </thy-sidebar>
  <router-outlet></router-outlet>
  <div id="app-host-container" class="thy-layout"></div>
  <thy-loading *ngIf="!loadingDone" [thyDone]="loadingDone"></thy-loading>
</thy-layout>
