/* You can add global styles to this file, and also import other style files */
$layout-content-background: #fff;
$primary: #348fe4;

$btn-border-radius: 4px;
$btn-border-radius-lg: 4px;
$btn-border-radius-sm: 4px;
$btn-border-radius-xs: 4px;

@import 'ngx-tethys/styles/variables.scss';
@import 'ngx-tethys/styles/index.scss';
@import './app/root/root.component.scss';

.section-card {
    display: block;
    position: relative;
    padding: 15px;
    border: 2px $gray-300 dashed;

    .section-card-header {
        position: absolute;
        padding: 0 10px;
        background: $white;
        top: -10px;
        left: 5px;
        color: $gray-600; // $gray-500;
    }
}
