<section-card title="Planet">
  <code>ngx-planet</code> is a powerful and easy micro front-end library only for angular.<br />
  This is live demo for planet which contains portal, app1, app2.<br /><br />
  <span class="text-danger">Github Repository </span>
  <a target="_blank" href="https://github.com/worktile/ngx-planet">https://github.com/worktile/ngx-planet</a>
</section-card>

<section-card class="mt-5" title="AppRootContext data, it can be change in app1">
  <span class="text-desc">appRootContext.name: </span> <span class="text-danger">{{ appRootContext.name }}</span>
</section-card>

<section-card class="mt-5" title="Links to app1 and app2 from portal">
  <a [routerLink]="['/app1/dashboard']" routerLinkActive="active">To App1's Dashboard</a> <br />
  <a href="javascript:;" (click)="toApp2Dashboard()">To App2's Dashboard</a>
</section-card>

<section-card class="mt-5" title="Open detail by dialog, it can be opened in app1">
  <button thyButton="primary-square" (click)="openADetail()">Open A Detail</button>
</section-card>

<section-card class="mt-5 portal-special" title="Portal 特有的样式">
  <span class="text-desc">portal 特有样式: </span> <span class="text-danger">font-size： 20px</span>
</section-card>

<section-card class="mt-5 same-name" title="同名样式">
  <span class="text-desc">同名样式: </span> <span class="text-danger">color： blue， font-size:12px</span>
</section-card>
