@use 'ngx-tethys/styles/variables.scss' as thy;
.section-card {
    display: block;
    position: relative;
    padding: 15px;
    border: 2px thy.$gray-300 dashed;

    .section-card-header {
        position: absolute;
        padding: 0 10px;
        background: thy.$white;
        top: -10px;
        left: 5px;
        color: thy.$gray-600; // $gray-500;
    }
}
